<html>
<head>
<style>
    .display-schema {
        color: #900;
    }
</style>
</head>
<body>
    <h1><a href="{{ url("tables_browse") }}">root</a> / {{ table.name }}</h1>
    <table border="1">
        <thead>
            <tr>
            {% for col in columns %}
                <th {% if col.breadpy_fk %}class="display-schema"{% endif %}>
                    {% if col.breadpy_fk %}
                        {{ col }}
                    {% else %}
                        {{ col.name }}
                    {% endif %}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
            {% for c in row %}
                <td>{{ c }} </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>{{ sql }}</p>
</body>
</html>
